* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    width: 100%;
    height: 100%;
}
div {
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    padding: 0 2em;
    /* background-color: green; */
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
h1 {
    color: yellow;
    font-family: 'Monoton', cursive;
    font-size: 5em;
}